*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: #11161f; 
    --text-color: #fff;
    --heading-color:  #fff;
    --secondary-color:  #fff;
    --input-place: rgba(255, 255, 255, 0.5);
    --input-border-focus: rgba(255, 255, 255, 0.3);
    --input-border: rgba(255, 255, 255, 0.15);
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    width: 100%;
    height: 100vh;
    font-size: 19px;
}

.light{
    --bg-color: #e1e1e1; 
    --text-color: #131313;
    --heading-color:  #1e1d1d;
    --input-place: rgba(13, 13, 13, 0.5);
    --input-border: #272727;
}

main {
    width: 75%;
    margin: 0 auto;
    height: 100%;
}

.headText{
    width: 100%;
    font-size: 2.4rem;
    color: var(--heading-color);
}

.wrapper{
    padding: 1.5rem;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    min-height: 50rem;
    position: relative;
}

hr{
    border: .8px solid rgb(74, 73, 73);
    margin-bottom: 3rem;
}

#input-field{
    font-size: 1.7rem;
    height: 4rem;
    width: 100%;
    margin: 0 auto;
}

.cursorPointer{
    cursor: pointer;
}

#add-task-btn{
    padding: 12px 16px;
    font-size: 1.3rem;
    border-radius: 12px;
    border: none;
    width: 8.7rem;
    font-weight: 500;
    background-color: #665ce9;
    color: var(--text-color);
    box-shadow: 0.09em 0.09em rgb(107, 107, 107);
}

#add-task-btn:hover{
    transform: translate(-0.03em, -0.03em);
    box-shadow: 0.15em 0.15em;
}

#add-task-btn:active{
    transform: translate(0.03em, 0.03em);
    box-shadow: 0.05em 0.05em;
}

#add-task-section{
    text-align: center;
    margin-bottom: 6vw;
}

#addTaskInput {
    width: 100%;
    padding: 12px 16px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    border-radius: 12px;
    border: 1px solid var(--input-border);    
    color: var(--text-color);
    transition: 0.4s ease-in-out;
    font-size: 1.3rem;
}

#addTaskInput:focus {
    border-color: var(--input-border-focus);
    background: rgba(255, 255, 255, 0.12);
}

#addTaskInput::placeholder {
    color: var(--input-place);
}

.primaryColor{
    color: #665ce9;
}

.mB{
    margin-bottom: 2rem;
}

header{
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 5rem;
    background: rgba(255, 255, 255, 0.06); 
    backdrop-filter: blur(25px) saturate(180%);
    -webkit-backdrop-filter: blur(25px) saturate(180%);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
}

#title{
    font-size: 2.5rem;
    color: #6297F0;
}

#theme-mode img{
    height: 50px;
}

.allTasks{
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 8rem;
    min-height: 20rem;
    text-align: center;
}

.pendingTasks{
    flex-direction: column;
    width: 100%;
    padding: 1rem;
}

.taskDivs{
    display: none;
    width: 100%;
}

.taskDivs h3{
    color: var(--heading-color);
    margin-bottom: 2rem;
}

.completedTasks{
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.taskItem{
    color: #2f2f2f;
    margin-bottom: .8rem;
    font-size: 1.6rem;
    font-weight: 500;
    height: 100%;
    width: min(40rem, 100%);
    padding: 1rem;
    border-radius: 15px;
    word-break: break-all;
    cursor: grab;
}

.taskBox{
    justify-content: space-between;
    flex-wrap: wrap;
}

.fa-solid{
    font-size: 1rem;
    cursor: pointer;
    margin-right: .5rem;
}

.editInput{
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.4rem;
    font-weight: 500;
    width: 100%;
    height: 100%;
    word-break: keep-all;
}

.hoverBoxes{
    position: relative;
}

.hoverDiv{
    background-color: rgb(40, 40, 40);
    padding: .25rem .55rem;
    font-size: .9rem;
    font-weight: 300;
    border-radius: 3px;
    position: absolute;
    bottom: 1.6rem;
    left: -1.9rem;
    color: white;
    transition: opacity .5s ease;
    white-space: nowrap;
}

.notVisible{
    display: none;
    opacity: 0;
}

input[type="checkbox"]{
   zoom: 1.4;
}

.tabs{
    margin-bottom: 2rem;
    position: relative;
    bottom: 0;
}

.tabs span{
    padding: 1rem;
    transition: all .2s linear;
    position: relative;
}

.underline{
    position: absolute;
    bottom: -1rem;
    height: 3px;
    width: 0;
    background-color: #665ce9;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.flex{
    display: flex;
}

.gap-1{
    gap: 1rem;
}

.center{
    justify-content: center;
    align-items: center;
}

.hidden{
    display: none;
} 

.filters.activeFilter{
    color: #665ce9;
}


.lineThrough{
    text-decoration: line-through;
}

.activeDiv{
    display: block;
    opacity: 1;
}

@media (max-width: 1000px) {
    #input-field{
        width: 90%;
    }
    .wrapper{
        padding: 1rem 0;
        width: 100%;
        margin: 0;
    }
}

@media (max-width: 700px) {
    header{
        padding: 1rem 2rem;
    }
    #title {
        font-size: 2rem;
    }
    #theme-mode img{
        height: 30px;
    }
    main{
        width: 90%;
    }
    .headText{
        font-size: 1.8rem;
    }
    #input-field{
        height: 3rem;
        font-size: 1rem;
    }
    #add-task-btn{
        font-size: 1rem;
    }
    #input-field{
        align-items: center;
        flex-direction: column;
        height: fit-content;
    }
}